In [26]:
import praw
import requests
import pandas as pd
import json
from datetime import datetime, timedelta, date

from config import reddit_client_id
from config import reddit_secret_key
from config import reddit_user_name
from config import reddit_password
from config import yahoo_api_key

import matplotlib.pyplot as plt
import numpy as np
import time
from scipy.stats import linregress

In [35]:
yahoo_base_url = "https://yahoo-finance127.p.rapidapi.com/price/tsla"
yahoo_base_url = "https://yahoo-finance127.p.rapidapi.com/price/"


headers_yahoo = {
    "X-RapidAPI-Key": '4f21eaecadmshc53af8aa96e4b15p118ecejsnf448733c6bbb',
    "X-RapidAPI-Host": "yahoo-finance127.p.rapidapi.com"
}


#get input from user for stock symbol
company_names = []
stock_symbol = str(input("Enter stock symbol to search"))


#------------------------------------------------------------------------TO-DO - Add error handling for when ticker is not found

# token1 = str(response.json())
#json.dumps(token1, indent=4, sort_keys=True)
yahoo_response = requests.get(yahoo_base_url + stock_symbol, headers=headers_yahoo).json()
#yahoo_response
# print(json.dumps(data, indent=4, sort_keys=True))

#Add longname as search term for reddit
company_names.append(yahoo_response["longName"])

#Add stock symbol as search term for reddit
company_names.append(stock_symbol)

#Get alternate company names to use for reddit search
msg = f"{stock_symbol}'s LongName is {company_names[0]}.  Add another search term and press Enter, or press Cancel when done'"

while True:
    response = str(input(msg))
    if len(response)> 0:
        company_names.append(response)
    else:
        break

#remove duplicates from company_names
reddit_search_list = pd.Series(company_names).drop_duplicates().tolist()

In [28]:
print(yahoo_response)

{'symbol': 'TSLA', 'twoHundredDayAverageChangePercent': {'raw': 0.06561534, 'fmt': '6.56%'}, 'fiftyTwoWeekLowChangePercent': {'raw': 1.3547786, 'fmt': '135.48%'}, 'averageAnalystRating': '2.8 - Hold', 'language': 'en-US', 'regularMarketDayRange': {'raw': '237.4512 - 243.441', 'fmt': '237.45 - 243.44'}, 'earningsTimestampEnd': {'raw': 1706529600, 'fmt': '2024-01-29', 'longFmt': '2024-01-29T07:00'}, 'epsForward': {'raw': 3.56, 'fmt': '3.56'}, 'regularMarketDayHigh': {'raw': 243.441, 'fmt': '243.44'}, 'twoHundredDayAverageChange': {'raw': 14.762009, 'fmt': '14.76'}, 'askSize': {'raw': 11, 'fmt': '11', 'longFmt': '11'}, 'twoHundredDayAverage': {'raw': 224.978, 'fmt': '224.98'}, 'bookValue': {'raw': 16.818, 'fmt': '16.82'}, 'fiftyTwoWeekHighChange': {'raw': -59.550003, 'fmt': '-59.55'}, 'marketCap': {'raw': 762114277376, 'fmt': '762.114B', 'longFmt': '762,114,277,376'}, 'fiftyTwoWeekRange': {'raw': '101.81 - 299.29', 'fmt': '101.81 - 299.29'}, 'fiftyDayAverageChange': {'raw': 5.3636017, 'fmt': '5.36'}, 'firstTradeDateMilliseconds': 1277818200000, 'exchangeDataDelayedBy': 0, 'averageDailyVolume3Month': {'raw': 120530590, 'fmt': '120.531M', 'longFmt': '120,530,590'}, 'trailingAnnualDividendRate': {'raw': 0, 'fmt': '0.00'}, 'fiftyTwoWeekChangePercent': {'raw': 45.29853, 'fmt': '45.30%'}, 'fiftyTwoWeekLow': {'raw': 101.81, 'fmt': '101.81'}, 'market': 'us_market', 'regularMarketVolume': {'raw': 97576547, 'fmt': '97.577M', 'longFmt': '97,576,547'}, 'postMarketPrice': {'raw': 239.7, 'fmt': '239.70'}, 'quoteSourceName': 'Nasdaq Real Time Price', 'messageBoardId': 'finmb_27444752', 'priceHint': 2, 'exchange': 'NMS', 'sourceInterval': 15, 'regularMarketDayLow': {'raw': 237.4512, 'fmt': '237.45'}, 'region': 'US', 'shortName': 'Tesla, Inc.', 'fiftyDayAverageChangePercent': {'raw': 0.022884563, 'fmt': '2.29%'}, 'fullExchangeName': 'NasdaqGS', 'earningsTimestampStart': {'raw': 1706007540, 'fmt': '2024-01-23', 'longFmt': '2024-01-23T05:59'}, 'financialCurrency': 'USD', 'displayName': 'Tesla', 'gmtOffSetMilliseconds': -18000000, 'regularMarketOpen': {'raw': 242.74, 'fmt': '242.74'}, 'regularMarketTime': {'raw': 1702328401, 'fmt': '4:00PM EST'}, 'regularMarketChangePercent': {'raw': -1.6814268, 'fmt': '-1.68%'}, 'trailingAnnualDividendYield': {'raw': 0, 'fmt': '0.00%'}, 'quoteType': 'EQUITY', 'fiftyTwoWeekLowChange': {'raw': 137.93001, 'fmt': '137.93'}, 'averageDailyVolume10Day': {'raw': 122813920, 'fmt': '122.814M', 'longFmt': '122,813,920'}, 'fiftyTwoWeekHighChangePercent': {'raw': -0.1989709, 'fmt': '-19.90%'}, 'typeDisp': 'Equity', 'trailingPE': {'raw': 77.33549, 'fmt': '77.34'}, 'tradeable': False, 'postMarketTime': {'raw': 1702342276, 'fmt': '7:51PM EST'}, 'currency': 'USD', 'sharesOutstanding': {'raw': 3178919936, 'fmt': '3.179B', 'longFmt': '3,178,919,936'}, 'regularMarketPreviousClose': {'raw': 243.84, 'fmt': '243.84'}, 'fiftyTwoWeekHigh': {'raw': 299.29, 'fmt': '299.29'}, 'postMarketChangePercent': {'raw': -0.016688306, 'fmt': '-0.02%'}, 'exchangeTimezoneName': 'America/New_York', 'regularMarketChange': {'raw': -4.099991, 'fmt': '-4.10'}, 'bidSize': {'raw': 11, 'fmt': '11', 'longFmt': '11'}, 'priceEpsCurrentYear': {'raw': 82.10274, 'fmt': '82.10'}, 'cryptoTradeable': False, 'fiftyDayAverage': {'raw': 234.3764, 'fmt': '234.38'}, 'exchangeTimezoneShortName': 'EST', 'epsCurrentYear': {'raw': 2.92, 'fmt': '2.92'}, 'customPriceAlertConfidence': 'HIGH', 'marketState': 'POST', 'regularMarketPrice': {'raw': 239.74, 'fmt': '239.74'}, 'forwardPE': {'raw': 67.3427, 'fmt': '67.34'}, 'postMarketChange': {'raw': -0.040008545, 'fmt': '-0.04'}, 'earningsTimestamp': {'raw': 1697664600, 'fmt': '2023-10-18', 'longFmt': '2023-10-18T17:30'}, 'ask': {'raw': 239.75, 'fmt': '239.75'}, 'epsTrailingTwelveMonths': {'raw': 3.1, 'fmt': '3.10'}, 'bid': {'raw': 239.71, 'fmt': '239.71'}, 'triggerable': True, 'priceToBook': {'raw': 14.254965, 'fmt': '14.25'}, 'longName': 'Tesla, Inc.'}

In [29]:
#Do reddit search

auth = requests.auth.HTTPBasicAuth(reddit_client_id,reddit_secret_key)
data = {
    'grant_type': 'password',
    'username': reddit_user_name,
    'password': reddit_password
}
headers = {'User-Agent': 'redditapi/1'}
res = requests.post('https://www.reddit.com/api/v1/access_token',
                    auth=auth, data=data, headers=headers)
token12 = res.json()['access_token']
headers = {**headers, **{'Authorization': f'bearer {token12}'}}
headers
requests.get('https://oauth.reddit.com/api/v1/me', headers=headers)

reddit_posts = []
reddit = praw.Reddit(
    client_id=reddit_client_id,
    client_secret=reddit_secret_key,
    password = data['password'],
    user_agent=f"testscript by u/{data['username']}",
    username = data['username'],
)


#-----------------------------------------------------------TO-DO: Do we need to set a different limit or search criteria?
for term in reddit_search_list:
    for submission in reddit.subreddit("wallstreetbets").search(term, limit=10, sort="new"):
        sub_create_utc = datetime.utcfromtimestamp(submission.created_utc).strftime('%Y-%m-%d') 
        reddit_posts.append({"search term": term,
                             "title": submission.title,
                            "upvotes": submission.score,
                            "num_comments": submission.num_comments,
                            "date_utc": sub_create_utc})
    


reddit_df = pd.DataFrame(reddit_posts)
reddit_df.drop_duplicates(subset=["title"],keep="first",inplace=True)
reddit_df

,search term,title,upvotes,num_comments,date_utc
0,"Tesla, Inc.",JPOW looking at job data today,7,1,2023-12-08
1,"Tesla, Inc.",Where is all the damn gain porn?,36,38,2023-12-07
2,"Tesla, Inc.",TSLA Institutional Ownership Over Time.,11,5,2023-11-28
3,"Tesla, Inc.",Tesla insiders had perfect timing with selling...,94,27,2023-11-20
4,"Tesla, Inc.",$1.2k ‚Äî> $10.7k thanks to $TSLA,524,69,2023-11-19
5,"Tesla, Inc.",US Senator casually buying leveraged positions...,11260,651,2023-11-17
6,"Tesla, Inc.",I know how much yall like technicals (TSLA),5,22,2023-11-03
7,"Tesla, Inc.","Simple, just swing shares of tsla when RSI hit...",67,28,2023-11-02
8,"Tesla, Inc.",Huge spikes on Tesla chart today - is it anoth...,10,15,2023-10-27
9,"Tesla, Inc.",Tesla's AI can increase its valuation equal of...,21,211,2023-10-27
10,tsla,Elon Musk will likely be selling shares in 2024,202,82,2023-12-11
11,tsla,The most shorted stock in the US according to ...,131,108,2023-12-11
12,tsla,Only took me 9 days to lose 290k yoloing on TS...,1500,389,2023-12-07
14,tsla,Call/put extensive value.,8,12,2023-12-07
15,tsla,Danish pension funds (43 billion USD) starts s...,838,271,2023-12-06
16,tsla,Serious question how come EVERYTHING is up at ...,869,548,2023-12-06
17,tsla,Will I ever recover from this smh ü§¶üèΩ‚Äç‚ôÇÔ∏è,34,75,2023-12-05
18,tsla,"Sold TSLA calls at the peak this morning, +$22...",150,38,2023-12-05
19,tsla,Going long on calls after some pullbacks,26,13,2023-12-04

In [41]:
url = "https://yahoo-finance127.p.rapidapi.com/historic/tsla/1d/100d"

yahoo_response2 = requests.get(url,headers=headers_yahoo).json()
yahoo_response2

{'meta': {'currency': 'USD',
  'symbol': 'TSLA',
  'exchangeName': 'NMS',
  'instrumentType': 'EQUITY',
  'firstTradeDate': 1277818200,
  'regularMarketTime': 1702328401,
  'gmtoffset': -18000,
  'timezone': 'EST',
  'exchangeTimezoneName': 'America/New_York',
  'regularMarketPrice': 239.74,
  'chartPreviousClose': 262.9,
  'priceHint': 2,
  'currentTradingPeriod': {'pre': {'timezone': 'EST',
    'start': 1702285200,
    'end': 1702305000,
    'gmtoffset': -18000},
   'regular': {'timezone': 'EST',
    'start': 1702305000,
    'end': 1702328400,
    'gmtoffset': -18000},
   'post': {'timezone': 'EST',
    'start': 1702328400,
    'end': 1702342800,
    'gmtoffset': -18000}},
  'dataGranularity': '1d',
  'range': '100d',
  'validRanges': ['1d',
   '5d',
   '1mo',
   '3mo',
   '6mo',
   '1y',
   '2y',
   '5y',
   '10y',
   'ytd',
   'max']},
 'timestamp': [1689946200,
  1690205400,
  1690291800,
  1690378200,
  1690464600,
  1690551000,
  1690810200,
  1690896600,
  1690983000,
  1691069400,
  1691155800,
  1691415000,
  1691501400,
  1691587800,
  1691674200,
  1691760600,
  1692019800,
  1692106200,
  1692192600,
  1692279000,
  1692365400,
  1692624600,
  1692711000,
  1692797400,
  1692883800,
  1692970200,
  1693229400,
  1693315800,
  1693402200,
  1693488600,
  1693575000,
  1693920600,
  1694007000,
  1694093400,
  1694179800,
  1694439000,
  1694525400,
  1694611800,
  1694698200,
  1694784600,
  1695043800,
  1695130200,
  1695216600,
  1695303000,
  1695389400,
  1695648600,
  1695735000,
  1695821400,
  1695907800,
  1695994200,
  1696253400,
  1696339800,
  1696426200,
  1696512600,
  1696599000,
  1696858200,
  1696944600,
  1697031000,
  1697117400,
  1697203800,
  1697463000,
  1697549400,
  1697635800,
  1697722200,
  1697808600,
  1698067800,
  1698154200,
  1698240600,
  1698327000,
  1698413400,
  1698672600,
  1698759000,
  1698845400,
  1698931800,
  1699018200,
  1699281000,
  1699367400,
  1699453800,
  1699540200,
  1699626600,
  1699885800,
  1699972200,
  1700058600,
  1700145000,
  1700231400,
  1700490600,
  1700577000,
  1700663400,
  1700836200,
  1701095400,
  1701181800,
  1701268200,
  1701354600,
  1701441000,
  1701700200,
  1701786600,
  1701873000,
  1701959400,
  1702045800,
  1702328401],
 'indicators': {'quote': [{'volume': [161050100,
     136508500,
     112757300,
     95856200,
     103697300,
     111446000,
     84582200,
     83166000,
     101752900,
     97569100,
     99242600,
     111097900,
     96642200,
     101596300,
     109498600,
     98866600,
     98595300,
     88197600,
     112484500,
     120718400,
     135813700,
     135702700,
     130597900,
     101077600,
     99777400,
     106612200,
     107673700,
     134047600,
     121988400,
     108861700,
     132272500,
     129469600,
     116959800,
     115312900,
     118367700,
     174667900,
     135999900,
     111673700,
     107709800,
     133422800,
     101543300,
     103704000,
     122514600,
     119531000,
     127524100,
     104636600,
     101993600,
     136597200,
     117058900,
     128346200,
     123810400,
     101985300,
     129721600,
     119159200,
     117947000,
     101377900,
     122656000,
     103706300,
     111508100,
     102073800,
     88917200,
     93562900,
     125147800,
     170772700,
     137734000,
     150683400,
     118231100,
     107065100,
     115112600,
     94881200,
     136448200,
     118068300,
     121661700,
     125987600,
     119281000,
     117335800,
     116900100,
     106584800,
     142110500,
     130994000,
     140447600,
     149771600,
     150354000,
     136816800,
     142532800,
     116320100,
     122288000,
     117950600,
     65125200,
     112031800,
     148549900,
     135401300,
     132353200,
     121173500,
     104099800,
     137971100,
     126436200,
     107142300,
     102980100,
     97576547],
    'high': [268,
     269.8500061035156,
     272.8999938964844,
     268.0400085449219,
     269.1300048828125,
     267.25,
     269.0799865722656,
     266.4700012207031,
     259.5199890136719,
     260.489990234375,
     264.7699890136719,
     253.64999389648438,
     250.9199981689453,
     251.10000610351562,
     251.8000030517578,
     243.7899932861328,
     240.66000366210938,
     240.5,
     233.97000122070312,
     226.74000549316406,
     217.5800018310547,
     232.1300048828125,
     240.82000732421875,
     238.97999572753906,
     238.9199981689453,
     239,
     244.3800048828125,
     257.4800109863281,
     260.510009765625,
     261.17999267578125,
     259.0799865722656,
     258,
     255.38999938964844,
     252.80999755859375,
     256.5199890136719,
     274.8500061035156,
     278.3900146484375,
     274.9800109863281,
     276.7099914550781,
     278.9800109863281,
     271.44000244140625,
     267.8500061035156,
     273.92999267578125,
     260.8599853515625,
     257.7900085449219,
     247.10000610351562,
     249.5500030517578,
     245.3300018310547,
     247.5500030517578,
     254.77000427246094,
     254.27999877929688,
     250.02000427246094,
     261.8599853515625,
     263.6000061035156,
     261.6499938964844,
     261.3599853515625,
     268.94000244140625,
     268.6000061035156,
     265.4100036621094,
     259.6000061035156,
     255.39999389648438,
     257.17999267578125,
     254.6300048828125,
     230.61000061035156,
     218.86000061035156,
     216.97999572753906,
     222.0500030517578,
     220.10000610351562,
     214.8000030517578,
     212.41000366210938,
     210.8800048828125,
     202.8000030517578,
     205.99000549316406,
     219.1999969482422,
     226.3699951171875,
     226.32000732421875,
     223.1199951171875,
     224.14999389648438,
     220.8000030517578,
     215.3800048828125,
     225.39999389648438,
     238.13999938964844,
     246.6999969482422,
     240.8800048828125,
     237.38999938964844,
     237.10000610351562,
     243.6199951171875,
     244.00999450683594,
     238.75,
     238.3300018310547,
     247,
     252.75,
     245.22000122070312,
     240.19000244140625,
     239.3699951171875,
     246.66000366210938,
     246.57000732421875,
     244.0800018310547,
     245.27000427246094,
     243.4409942626953],
    'low': [255.8000030517578,
     254.1199951171875,
     265,
     261.75,
     255.3000030517578,
     258.2300109863281,
     263.7799987792969,
     260.25,
     250.49000549316406,
     252,
     253.11000061035156,
     242.75999450683594,
     245.00999450683594,
     241.89999389648438,
     243,
     238.02000427246094,
     233.75,
     232.61000061035156,
     225.3800048828125,
     218.8300018310547,
     212.36000061035156,
     220.5800018310547,
     229.5500030517578,
     229.2899932861328,
     228.17999267578125,
     230.35000610351562,
     235.35000610351562,
     237.77000427246094,
     250.58999633789062,
     255.0500030517578,
     242.00999450683594,
     244.86000061035156,
     245.05999755859375,
     243.27000427246094,
     246.6699981689453,
     260.6099853515625,
     266.6000061035156,
     268.1000061035156,
     270.4200134277344,
     271,
     263.760009765625,
     261.20001220703125,
     262.4599914550781,
     254.2100067138672,
     244.47999572753906,
     238.30999755859375,
     241.66000366210938,
     234.5800018310547,
     238.64999389648438,
     246.35000610351562,
     242.6199951171875,
     244.4499969482422,
     247.60000610351562,
     256.25,
     250.64999389648438,
     252.0500030517578,
     257.6499938964844,
     260.8999938964844,
     256.6300048828125,
     250.22000122070312,
     248.47999572753906,
     247.0800018310547,
     242.0800018310547,
     216.77999877929688,
     210.4199981689453,
     202.50999450683594,
     214.11000061035156,
     212.1999969482422,
     204.8800048828125,
     205.77000427246094,
     194.6699981689453,
     194.07000732421875,
     197.85000610351562,
     211.4499969482422,
     218.39999389648438,
     215,
     215.72000122070312,
     217.63999938964844,
     206.67999267578125,
     205.69000244140625,
     211.61000061035156,
     230.72000122070312,
     236.4499969482422,
     230.9600067138672,
     226.5399932861328,
     231.02000427246094,
     233.33999633789062,
     231.39999389648438,
     232.3300018310547,
     232.10000610351562,
     234.00999450683594,
     242.75999450683594,
     236.91000366210938,
     231.89999389648438,
     233.2899932861328,
     233.6999969482422,
     239.1699981689453,
     236.97999572753906,
     239.27000427246094,
     237.45120239257812],
    'open': [268,
     255.85000610351562,
     272.3800048828125,
     263.25,
     268.30999755859375,
     259.8599853515625,
     267.4800109863281,
     266.260009765625,
     255.57000732421875,
     252.0399932861328,
     260.9700012207031,
     251.4499969482422,
     247.4499969482422,
     250.8699951171875,
     245.39999389648438,
     241.77000427246094,
     235.6999969482422,
     238.72999572753906,
     228.02000427246094,
     226.05999755859375,
     214.1199951171875,
     221.5500030517578,
     240.25,
     229.33999633789062,
     238.66000366210938,
     231.30999755859375,
     242.5800018310547,
     238.5800018310547,
     254.1999969482422,
     255.97999572753906,
     257.260009765625,
     245,
     255.13999938964844,
     245.07000732421875,
     251.22000122070312,
     264.2699890136719,
     270.760009765625,
     270.07000732421875,
     271.32000732421875,
     277.54998779296875,
     271.1600036621094,
     264.3500061035156,
     267.0400085449219,
     257.8500061035156,
     257.3999938964844,
     243.3800048828125,
     242.97999572753906,
     244.25999450683594,
     240.02000427246094,
     250,
     244.80999755859375,
     248.61000061035156,
     248.13999938964844,
     260,
     253.97999572753906,
     255.30999755859375,
     257.75,
     266.20001220703125,
     262.9200134277344,
     258.8999938964844,
     250.0500030517578,
     250.10000610351562,
     252.6999969482422,
     225.9499969482422,
     217.00999450683594,
     210,
     216.5,
     215.8800048828125,
     211.32000732421875,
     210.60000610351562,
     209.27999877929688,
     196.1199951171875,
     204.0399932861328,
     212.97000122070312,
     221.14999389648438,
     223.97999572753906,
     219.97999572753906,
     223.14999389648438,
     219.75,
     210.02999877929688,
     215.60000610351562,
     235.02999877929688,
     239.2899932861328,
     239.49000549316406,
     232,
     234.0399932861328,
     235.0399932861328,
     242.0399932861328,
     233.75,
     236.88999938964844,
     236.67999267578125,
     249.2100067138672,
     245.13999938964844,
     233.13999938964844,
     235.75,
     233.8699951171875,
     242.9199981689453,
     241.5500030517578,
     240.27000427246094,
     242.74000549316406],
    'close': [260.0199890136719,
     269.05999755859375,
     265.2799987792969,
     264.3500061035156,
     255.7100067138672,
     266.44000244140625,
     267.42999267578125,
     261.07000732421875,
     254.11000061035156,
     259.32000732421875,
     253.86000061035156,
     251.4499969482422,
     249.6999969482422,
     242.19000244140625,
     245.33999633789062,
     242.64999389648438,
     239.75999450683594,
     232.9600067138672,
     225.60000610351562,
     219.22000122070312,
     215.49000549316406,
     231.27999877929688,
     233.19000244140625,
     236.86000061035156,
     230.0399932861328,
     238.58999633789062,
     238.82000732421875,
     257.17999267578125,
     256.8999938964844,
     258.0799865722656,
     245.00999450683594,
     256.489990234375,
     251.9199981689453,
     251.49000549316406,
     248.5,
     273.5799865722656,
     267.4800109863281,
     271.29998779296875,
     276.0400085449219,
     274.3900146484375,
     265.2799987792969,
     266.5,
     262.5899963378906,
     255.6999969482422,
     244.8800048828125,
     246.99000549316406,
     244.1199951171875,
     240.5,
     246.3800048828125,
     250.22000122070312,
     251.60000610351562,
     246.52999877929688,
     261.1600036621094,
     260.04998779296875,
     260.5299987792969,
     259.6700134277344,
     263.6199951171875,
     262.989990234375,
     258.8699951171875,
     251.1199951171875,
     253.9199981689453,
     254.85000610351562,
     242.67999267578125,
     220.11000061035156,
     211.99000549316406,
     212.0800018310547,
     216.52000427246094,
     212.4199981689453,
     205.75999450683594,
     207.3000030517578,
     197.36000061035156,
     200.83999633789062,
     205.66000366210938,
     218.50999450683594,
     219.9600067138672,
     219.27000427246094,
     222.17999267578125,
     222.11000061035156,
     209.97999572753906,
     214.64999389648438,
     223.7100067138672,
     237.41000366210938,
     242.83999633789062,
     233.58999633789062,
     234.3000030517578,
     235.60000610351562,
     241.1999969482422,
     234.2100067138672,
     235.4499969482422,
     236.0800018310547,
     246.72000122070312,
     244.13999938964844,
     240.0800018310547,
     238.8300018310547,
     235.5800018310547,
     238.72000122070312,
     239.3699951171875,
     242.63999938964844,
     243.83999633789062,
     239.74000549316406]}],
  'adjclose': [{'adjclose': [260.0199890136719,
     269.05999755859375,
     265.2799987792969,
     264.3500061035156,
     255.7100067138672,
     266.44000244140625,
     267.42999267578125,
     261.07000732421875,
     254.11000061035156,
     259.32000732421875,
     253.86000061035156,
     251.4499969482422,
     249.6999969482422,
     242.19000244140625,
     245.33999633789062,
     242.64999389648438,
     239.75999450683594,
     232.9600067138672,
     225.60000610351562,
     219.22000122070312,
     215.49000549316406,
     231.27999877929688,
     233.19000244140625,
     236.86000061035156,
     230.0399932861328,
     238.58999633789062,
     238.82000732421875,
     257.17999267578125,
     256.8999938964844,
     258.0799865722656,
     245.00999450683594,
     256.489990234375,
     251.9199981689453,
     251.49000549316406,
     248.5,
     273.5799865722656,
     267.4800109863281,
     271.29998779296875,
     276.0400085449219,
     274.3900146484375,
     265.2799987792969,
     266.5,
     262.5899963378906,
     255.6999969482422,
     244.8800048828125,
     246.99000549316406,
     244.1199951171875,
     240.5,
     246.3800048828125,
     250.22000122070312,
     251.60000610351562,
     246.52999877929688,
     261.1600036621094,
     260.04998779296875,
     260.5299987792969,
     259.6700134277344,
     263.6199951171875,
     262.989990234375,
     258.8699951171875,
     251.1199951171875,
     253.9199981689453,
     254.85000610351562,
     242.67999267578125,
     220.11000061035156,
     211.99000549316406,
     212.0800018310547,
     216.52000427246094,
     212.4199981689453,
     205.75999450683594,
     207.3000030517578,
     197.36000061035156,
     200.83999633789062,
     205.66000366210938,
     218.50999450683594,
     219.9600067138672,
     219.27000427246094,
     222.17999267578125,
     222.11000061035156,
     209.97999572753906,
     214.64999389648438,
     223.7100067138672,
     237.41000366210938,
     242.83999633789062,
     233.58999633789062,
     234.3000030517578,
     235.60000610351562,
     241.1999969482422,
     234.2100067138672,
     235.4499969482422,
     236.0800018310547,
     246.72000122070312,
     244.13999938964844,
     240.0800018310547,
     238.8300018310547,
     235.5800018310547,
     238.72000122070312,
     239.3699951171875,
     242.63999938964844,
     243.83999633789062,
     239.74000549316406]}]}}

In [42]:
yahoo_finance3 = []

yahoo_finance3.append({"Symbol": yahoo_response2['meta']["symbol"],
                        "Date": yahoo_response2['timestamp'],
                        "Open": yahoo_response2['indicators']['quote'][0]['open'],
                        "Volume": yahoo_response2['indicators']['quote'][0]['volume'],
                        "High": yahoo_response2['indicators']['quote'][0]['high'],
                        "Close": yahoo_response2['indicators']['quote'][0]['close'],
                        "Low": yahoo_response2['indicators']['quote'][0]['low']})

yahoo_finance_df3 = pd.DataFrame(yahoo_finance3)
#yahoo_finance_df3.head()
date_yahoo = yahoo_finance_df3['Date'].tolist()
new_df_yahoo_date = pd.DataFrame(date_yahoo)
#yahoo1 = new_df_yahoo.transpose()
yeah1 = new_df_yahoo_date.astype(int)
yeah1 = yeah1.transpose()
yeah1.columns = ['Date']
date_utc = yeah1['Date'].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d'))
yeah1['date_utc'] = date_utc
yeah1

          Date    date_utc
0   1689946200  2023-07-21
1   1690205400  2023-07-24
2   1690291800  2023-07-25
3   1690378200  2023-07-26
4   1690464600  2023-07-27
..         ...         ...
95  1701786600  2023-12-05
96  1701873000  2023-12-06
97  1701959400  2023-12-07
98  1702045800  2023-12-08
99  1702328401  2023-12-11

[100 rows x 2 columns]

In [43]:

yahoo_finance_df2 = pd.DataFrame(yahoo_finance3)
yahoo_finance_df2.head()

open_15d_yahoo = yahoo_finance_df2['Open'].tolist()
new_df_yahoo = pd.DataFrame(open_15d_yahoo)
#yahoo1 = new_df_yahoo.transpose()
yeahoo2 = new_df_yahoo.astype(int)
yeahoo2 = yeahoo2.transpose()
yeahoo2.columns = ['Open']
yeahoo2

    Open
0    268
1    255
2    272
3    263
4    268
..   ...
95   233
96   242
97   241
98   240
99   242

[100 rows x 1 columns]

In [44]:

yahoo_finance_df2 = pd.DataFrame(yahoo_finance3)
yahoo_finance_df2.head()

open_15d_yahoo2 = yahoo_finance_df2['Close'].tolist()
new_df_yahoo2 = pd.DataFrame(open_15d_yahoo2)
#yahoo1 = new_df_yahoo.transpose()
yeahoo22 = new_df_yahoo2.astype(int)
yeahoo22 = yeahoo22.transpose()
yeahoo22.columns = ['Close']
yeahoo22

    Close
0     260
1     269
2     265
3     264
4     255
..    ...
95    238
96    239
97    242
98    243
99    239

[100 rows x 1 columns]

In [46]:
df100 = pd.concat([yeahoo2['Open'],yeah1['date_utc']], axis='columns')
df200 = pd.concat([yeahoo22['Close'],yeah1['date_utc']], axis='columns')
df100
df200

    Close    date_utc
0     260  2023-07-21
1     269  2023-07-24
2     265  2023-07-25
3     264  2023-07-26
4     255  2023-07-27
..    ...         ...
95    238  2023-12-05
96    239  2023-12-06
97    242  2023-12-07
98    243  2023-12-08
99    239  2023-12-11

[100 rows x 2 columns]

In [47]:
open_close_df = pd.merge(df100,df200)
open_close_df

    Open    date_utc  Close
0    268  2023-07-21    260
1    255  2023-07-24    269
2    272  2023-07-25    265
3    263  2023-07-26    264
4    268  2023-07-27    255
..   ...         ...    ...
95   233  2023-12-05    238
96   242  2023-12-06    239
97   241  2023-12-07    242
98   240  2023-12-08    243
99   242  2023-12-11    239

[100 rows x 3 columns]

In [ ]:
merged_df = pd.merge(reddit_df,df100)
merged_df

In [ ]:
# Linear regression on Reddit upvotes and comments
x_values = merged_df['upvotes']
y_values = merged_df['num_comments']

# Perform a linear regression on temperature vs. latitude
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)

# Get regression values
regress_values = x_values * slope + intercept
print(regress_values)
print(slope)

line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)
# Create Plot
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")

# Label plot and annotate the line equation
plt.xlabel('Open')
plt.ylabel('Comments')
plt.annotate(line_eq,(20,5),fontsize=15,color="red")

# Print r value
print(f"The r-value is: {rvalue**2}")

# Show plot
plt.show()

In [ ]:
from scipy import stats

merged_df = merged_df[(np.abs(stats.zscore(merged_df['upvotes'])) < 3)]
merged_df = merged_df[(np.abs(stats.zscore(merged_df['num_comments'])) < 3)]
merged_df

In [ ]:

yahoo_finance = []

yahoo_finance.append({"Symbol": yahoo_response["symbol"],
                        "Day_Range_raw": yahoo_response["regularMarketDayRange"]["raw"],
                        "Market_Price": yahoo_response["regularMarketPrice"]["raw"],
                        "Company_Name": yahoo_response["longName"]})

yahoo_finance_df = pd.DataFrame(yahoo_finance)
yahoo_finance_df.head()

  Symbol       Day_Range_raw  Market_Price Company_Name
0   TSLA  237.4512 - 243.441        239.74  Tesla, Inc.